<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ACME Inc. - Sales Data Visualizer</title>
        <!-- HOSTED -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
            crossorigin="anonymous"> 
        <!-- LOCAL -->
        <link rel="stylesheet" href="/static/css/style.css" />
    </haed>
    <body>
      {% include 'includes/_navbar.html' %}
      <div class="container">
          {% block body %}{% endblock %}
      </div>

      <!-- HOSTED -->
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
      <!-- LOCAL -->
      <script type="text/javascript" src="/static/js/uStates.js"></script>
      <script type="text/javascript" src="/static/js/tooltip.js"></script>
    </body>
</html>
